@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Merriweather", serif;
}

/* banner start */

.banner-container {
  max-width: 1320px;
  margin: 0 auto;
  /* border: 2px solid red; */
  min-height: 600px;
  margin-top: 30px;
  background-image: url(/images/Banner\ Image.png);
  background-color: rgba(0, 0, 0, 0.5);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  background-blend-mode: overlay;
}

.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.banner-content p,
h1 {
  color: white;
}

.banner-content p {
  color: rgb(255, 255, 255);
  font-family: Merriweather;
  font-size: 22px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 16px;
}

.banner-content h1 {
  color: rgb(255, 255, 255);
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
  letter-spacing: 0%;
  text-align: center;
}

/* banner end */

/* 65% section start */
.catergori-section-container {
  max-width: 802.9px;
  height: 806px;
  /* border: 2px solid red; */
  margin: 0 auto;
  margin-top: 90px;
}

.categories-content h1 {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 70px;
  font-weight: 700;
  line-height: 107px;
  letter-spacing: 0%;
  text-align: center;
}

.categories-content p {
  color: rgb(255, 0, 0);
  font-family: "Merriweather", serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: center;
}

.categories-content h3 {
  color: rgb(7, 2, 17);
  font-family: "Merriweather", serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0%;
  text-align: center;
}

.image-container {
  width: 802.9px;
  height: 500px;
}

.image-container img {
  width: 100%;
  height: 100%;
  margin-top: 48px;
}
/* 65% section end */

/* midnight start */

.midnight-container {
  max-width: 1320px;
  height: 600px;
  /* border: 2px solid red; */
  margin: 0 auto;
  display: flex;
  background-image: url(/images/Vectorrr.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
}

.left-side-content {
  width: 50%;
  height: 600px;
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.left-side-content h2 {
  color: rgb(255, 255, 255);
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 11%;
  margin-left: 90px;
}

.left-side-content p {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
  margin-left: 126px;
}

#midnight-btn {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  /* margin-top: 20px; */
  position: absolute;
  bottom: 116px;
  left: 158px;

  /* margin-left: 158px; */
}

.right-side-content {
  width: 50%;
  height: 600px;
  /* border: 2px solid rgb(241, 241, 27); */
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 349.16px; */
}

.right-side-content img {
  width: 349.16px;
  height: 464.65px;
}

/* midnight end */

/* Place */

.place-container {
  border-radius: 16px;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1),
    rgba(255, 0, 0, 0) 100%
  );
  max-width: 1320px;
  height: 482px;
  /* border: 2px solid green; */
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.place-content {
  width: 549px;
  height: 272px;

  /* padding-top: 100px; */
  /* padding-left: 385px; */
}

.place-content h1 {
  color: rgb(7, 2, 17);
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
}

.place-content .p-btn {
  color: rgb(255, 0, 0);
}

.place-content .place-btn {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  border-radius: 8px;
  background: rgb(255, 0, 0);
  padding: 16px 32px 16px 32px;
  margin-left: 200px;
  margin-top: 48px;
  border: none;
}
/* Place End */
/* Best offer  */

.best-offer-container {
  max-width: 1320px;
  height: 463px;
  margin: 0 auto;
  /* border: 2px solid red; */
  margin-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  /* position: relative; */
}

.left-content {
  width: 33%;
}

.left-content h3 {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  /* text-align: center; */
}

.left-content h1 {
  color: rgb(7, 2, 17);
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: capitalize;
  margin-top: 16px;
}

.left-content p {
  margin-top: 22px;
  width: 393px;
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: left;
}

.image-content {
  width: 33%;
  /* box-sizing: border-box;
  border: 15px solid rgb(255, 0, 0);
 border-radius: 50%; */
}

.image-content .img-2 {
  /* position: absolute; */
  bottom: 0;
  right: 120;
}

.right-content {
  width: 33%;
  margin-left: 90px;
  margin-top: 46px;
}
.right-content h1 {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0%;
  text-align: left;
}

.right-content P {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: left;
  width: 276px;
}

/* Best offer Start */

/* Holyday Section */

.holyday-container {
  max-width: 1320px;
  height: 986.07px;
  /* border: 2px solid red; */
  margin: 0 auto;
  position: relative;
}

.holyday-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1068px;
  height: 260px;
  margin: 0 auto;
}

.holyday-text h3 {
  color: rgb(7, 2, 17);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
}

.holyday-text h2 {
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  line-height: 91px;
  letter-spacing: 0%;
  text-align: center;
}

.holyday-text p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: center;
  width: 883px;
  height: 96px;
}

.holyday-text span {
  color: rgb(255, 0, 0);
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  line-height: 91px;
  letter-spacing: 0%;
  text-align: center;
}

.solid-color {
  width: 1320px;
  height: 229px;
  background-color: red;
  position: absolute;
  top: 77%;
}

.gift-box {
  width: 674.82px;
  height: 577.96px;
  position: relative;
  z-index: 1;
}

.girl-content {
  position: absolute;
  bottom: 30%;
  left: 75%;
}

/* Holyday Section end */

/* Portfolio */

.portfolio-container {
  max-width: 1320px;
  height: 1163px;
  /* border: 2px solid red; */
  margin: 0 auto;
  margin-top: 100px;
}

.portfolio-text-content h3 {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
}

.portfolio-text-content h2 {
  color: rgb(7, 2, 17);
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: capitalize;
  margin-top: 10px;
}

.portfolio-text-content p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: left;
  width: 896px;
  margin-bottom: 50px;
  /* margin-top: 18px; */
}

.portfolio-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.item {
  width: 424px;
  height: 450px;
}

.portfolio-items img {
  width: 100%;
  height: 100%;
}
/* Portfolio End */

/* footer */

.footer-container {
  margin-top: 100px;
  width: 1400px;
  height: 500px;
  padding: 100px 120px;
  display: flex;
  background-color: rgb(7, 2, 17);
  position: relative;
}

.footer-first-section {
  width: 33%;
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: left;
}

.first-footer {
  margin-top: 260px;
}

.f-second-section {
  width: 33%;
}
.f-second-section .icon {
  width: 64px;
  height: 64px;
  display: flex;
  position: absolute;
  top: 60%;
  right: 55%;
  gap: 10px;
}

.f-third-section {
  width: 33%;
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: left;
}

.last-footer {
  margin-top: 260px;
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: left;
  margin-left: 200px;
}

/* footer end */
